<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modal Content</title>
</head>
<body>
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">모달 제목</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>코트 정보</p>
            <div th:utext="${id}"></div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
        </div>
    </div>
</body>
</html>
